<h2>Form</h2>

<form action="/api/user/login" method="post">
  <p>
    <label>Username</label>
    <input type="text" name="username" id="username" placeholder="Username">
  </p>
  <p>
    <label>Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
  </p>
  <button type="submit">Login</button>
</form>